
{% include "header.html" %}

    <!-- carousel start -->
    <div id="carouselExampleAutoplaying" class="carousel slide " data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active"   data-bs-interval="2000">
          <img src="/static/images/slider-img/img-3.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item"  data-bs-interval="3000">
          <img src="images/slider-img/img-2.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item"  data-bs-interval="3000">
          <img src="images/slider-img/img-4.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item"  data-bs-interval="3000">
          <img src="images/slider-img/img-1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item"  data-bs-interval="2000">
          <img src="images/slider-img/img-5.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item"   data-bs-interval="2000">
          <img src="images/slider-img/img-6.png" class="d-block w-100" alt="...">
        </div>
      </div>
    </div><br>
    <!-- carousel start -->

    <!-- banner start -->
    <div class="container">
      <div class="row banner">
        <img src="images/Bhuvan-strip-banner-desktop.jpg" alt="">
      </div>
    </div><br><br>

    <!-- banner end -->

    <!-- gif slider start -->
    <div class="container">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
          <div class="row">
         <div class="col-lg-6">
          <img src="/gif/img-1.jpg" alt="">
         </div>
         <div class="col-lg-6">
          <img src="/gif/gif2.gif" alt="">
         </div>
        </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <div class="row">
            <div class="col-lg-6">
             <img src="/gif/gif2.gif" alt="">
            </div>
            <div class="col-lg-6">
             <img src="/gif/img-1.jpg" alt="">
            </div>
           </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-lg-6">
             <img src="/gif/HC--1x1-Trendy-Jeans-1710481449.gif" alt="">
            </div>
            <div class="col-lg-6">
             <img src="/gif/gif2.gif" alt="">
            </div>
           </div>
        </div>
      </div>
    </div>
    </div>
    <!-- gif slider end -->


    <!-- categories head -->
    <div class="container mt-2">
      <div class="row text-center"  style="background: rgb(36,0,0);
      background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(252,252,252,1) 0%, rgba(236,255,79,1) 46%, rgba(255,255,255,1) 100%); font-family: sans-serif; font-size: 28px; font-weight: 700;" >
        <span>CATEGORIES</span> 
      </div>
    </div><br>
    <!-- categories head -->

    <!-- categories hero section start -->
    <div class="container bg-transparent">
      <div class="row top-categories"  onclick="window.location.href='men-page.html'">
        <div class="col-lg-4 col-md-4 col-sm-12"> <img src="images/categories/img-1.png" alt=""></div>
        <div class="col-lg-4 col-md-4 col-sm-12"> <img src="images/categories/img-2.png" alt=""></div>
        <div class="col-lg-4 col-md-4 col-sm-12"> <img src="images/categories/img-3.png" alt=""></div>
      </div><br>
      <div class="row bottom-categories"  onclick="window.location.href='men-page.html'">
        <div class="col-lg-3 col-md-3 col-sm-6"> <img src="images/categories/img-4.png" alt=""></div>
        <div class="col-lg-3 col-md-3 col-sm-6"> <img src="images/categories/img-5.png" alt=""></div>
        <div class="col-lg-3 col-md-3 col-sm-6"> <img src="images/categories/img-6.png" alt=""></div>
        <div class="col-lg-3 col-md-3 col-sm-6"> <img src="images/categories/img-7.png" alt=""></div>
      </div><br>  
      <div class="row bottom-categories"  onclick="window.location.href='men-page.html'">
        <div class="col-lg-3 col-md-3 col-sm-6"> <img src="images/categories/img-8.png" alt=""></div>
        <div class="col-lg-3 col-md-3 col-sm-6"> <img src="images/categories/img-9.png" alt=""></div>
        <div class="col-lg-3 col-md-3 col-sm-6"> <img src="images/categories/img-11.png" alt=""></div>
        <div class="col-lg-3 col-md-3 col-sm-6"> <img src="images/categories/img-10.png" alt=""></div>
      </div>
    </div><br>
     <!-- categories hero section end-->

     <!-- offer head -->
    <div class="container-fluid">
      <div class="row text-center" style="background: rgb(36,0,0);
      background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(252,252,252,1) 0%, rgba(236,255,79,1) 46%, rgba(255,255,255,1) 100%);   font-family: sans-serif; font-size: 28px; font-weight: 700;">
        <spanm> OFFERS </span> 
      </div>
    </div><br>
    <!-- offer head -->

     <!-- offer slider start -->
     <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner offer-slider">
        <div class="carousel-item active">
          <img src="images/offer/offfer-img-1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="images/offer/offfer-img-2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="images/offer/offfer-img-3.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="images/offer/offfer-img-4.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
    </div><br>
     <!-- offer slider end -->
     <!-- banner start -->
     <div class="container">
      <div class="row">
        <img src="images/gender-banner.jpg" alt="">
      </div>
      <div class="row text-center mt-5" style="background: rgb(36,0,0);
      background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(252,252,252,1) 0%, rgba(236,255,79,1) 46%, rgba(255,255,255,1) 100%);">
        <h2>FOR MEN</h2>
      </div>
     </div>
     <!-- banner end -->

     <!-- for men start -->
     <div class="container">
      <a href="men-page.html"><div class="row mt-5">
        <img src="images/man-women banner img/men-T-Shirts-Banner.jpg" alt="">
      </div></a>
     </div>
     <!-- for men end -->
     <!-- for men product start -->
     <div class="container">
      <div class="row mt-5">
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="a-card" onclick="window.location.href='product-page.html'">
            <div class="a-card-img"> <img src="images/index-men-women-img/m1.jpg" alt=""> </div>
            <div class="a-card-info">
             <p class="a-text-title">Product title </p>
             <p class="a-text-body">Product description andd etails</p>
            </div>
             <div class="a-card-footer">
              <span class="a-text-title">₹ 1499.49</span>
             </div>
           </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="a-card" onclick="window.location.href='product-page.html'">
            <div class="a-card-img"> <img src="images/index-men-women-img/m2.jpg" alt=""> </div>
            <div class="a-card-info">
             <p class="a-text-title">Product title </p>
             <p class="a-text-body">Product description andd etails</p>
            </div>
             <div class="a-card-footer">
              <span class="a-text-title">₹ 1499.49</span>
             </div>
           </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="a-card" onclick="window.location.href='product-page.html'">
            <div class="a-card-img"> <img src="images/index-men-women-img/m3.jpg" alt=""> </div>
            <div class="a-card-info">
             <p class="a-text-title">Product title </p>
             <p class="a-text-body">Product description andd etails</p>
            </div>
             <div class="a-card-footer">
              <span class="a-text-title">₹ 1499.49</span>
             </div>
           </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="a-card" onclick="window.location.href='product-page.html'">
            <div class="a-card-img"> <img src="images/index-men-women-img/m4.jpg" alt=""> </div>
            <div class="a-card-info">
             <p class="a-text-title">Product title </p>
             <p class="a-text-body">Product description andd etails</p>
            </div>
             <div class="a-card-footer">
              <span class="a-text-title">₹ 1499.49</span>
             </div>
           </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="a-card" onclick="window.location.href='product-page.html'">
            <div class="a-card-img"> <img src="images/index-men-women-img/m5.jpg" alt=""> </div>
            <div class="a-card-info">
             <p class="a-text-title">Product title </p>
             <p class="a-text-body">Product description andd etails</p>
            </div>
             <div class="a-card-footer">
              <span class="a-text-title">₹ 1499.49</span>
             </div>
           </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="a-card" onclick="window.location.href='product-page.html'">
            <div class="a-card-img"> <img src="images/index-men-women-img/m6.jpg" alt=""> </div>
            <div class="a-card-info">
             <p class="a-text-title">Product title </p>
             <p class="a-text-body">Product description andd etails</p>
            </div>
             <div class="a-card-footer">
              <span class="a-text-title">₹ 1499.49</span>
             </div>
           </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="a-card" onclick="window.location.href='product-page.html'">
            <div class="a-card-img"> <img src="images/index-men-women-img/m7.jpg" alt=""> </div>
            <div class="a-card-info">
             <p class="a-text-title">Product title </p>
             <p class="a-text-body">Product description andd etails</p>
            </div>
             <div class="a-card-footer">
              <span class="a-text-title">₹ 1499.49</span>
             </div>
           </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="a-card" onclick="window.location.href='product-page.html'">
            <div class="a-card-img"> <img src="images/index-men-women-img/m8.jpg" alt=""> </div>
            <div class="a-card-info">
             <p class="a-text-title">Product title </p>
             <p class="a-text-body">Product description andd etails</p>
            </div>
             <div class="a-card-footer">
              <span class="a-text-title">₹ 1499.49</span>
             </div>
           </div>
        </div>
      </div>
     </div>    
      <!-- for men product end -->
      <div class="container">
        <div class="row mt-4">
          <div class="col text-center"><a  style="font-weight:bold; text-decoration:underline; color: #1c2331;" href="men-page.html">See More</a></div>
        </div>
      </div>

     <!-- for women start -->
     <div class="container">
      <div class="row">
        <div class="row text-center mt-5" style="background: rgb(36,0,0);
      background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(252,252,252,1) 0%, rgba(236,255,79,1) 46%, rgba(255,255,255,1) 100%);">
        <h2>FOR WOMEN</h2>
      </div>
      </div>
      <a href="women-page.html"><div class="row mt-5">
        <img src="images/man-women banner img/Women-clothing-banner.jpg" alt="">
      </div></a>
     </div>
     <!-- for women end -->
       <!-- for women product start -->
       <div class="container">
        <div class="row mt-5">
          <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="a-card" onclick="window.location.href='product-page.html'">
              <div class="a-card-img"> <img src="images/index-men-women-img/w1.jpg" alt=""> </div>
              <div class="a-card-info">
               <p class="a-text-title">Product title </p>
               <p class="a-text-body">Product description andd etails</p>
              </div>
               <div class="a-card-footer">
                <span class="a-text-title">₹ 1499.49</span>
               </div>
             </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="a-card" onclick="window.location.href='product-page.html'">
              <div class="a-card-img"> <img src="images/index-men-women-img/w2.jpg" alt=""> </div>
              <div class="a-card-info">
               <p class="a-text-title">Product title </p>
               <p class="a-text-body">Product description andd etails</p>
              </div>
               <div class="a-card-footer">
                <span class="a-text-title">₹ 1499.49</span>
               </div>
             </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="a-card" onclick="window.location.href='product-page.html'">
              <div class="a-card-img"> <img src="images/index-men-women-img/w3.jpg" alt=""> </div>
              <div class="a-card-info">
               <p class="a-text-title">Product title </p>
               <p class="a-text-body">Product description andd etails</p>
              </div>
               <div class="a-card-footer">
                <span class="a-text-title">₹ 1499.49</span>
               </div>
             </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="a-card" onclick="window.location.href='product-page.html'">
              <div class="a-card-img"> <img src="images/index-men-women-img/w4.jpg" alt=""> </div>
              <div class="a-card-info">
               <p class="a-text-title">Product title </p>
               <p class="a-text-body">Product description andd etails</p>
              </div>
               <div class="a-card-footer">
                <span class="a-text-title">₹ 1499.49</span>
               </div>
             </div>
          </div>
        </div>
        <div class="row mt-5" >
          <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="a-card" onclick="window.location.href='product-page.html'">
              <div class="a-card-img"> <img src="images/index-men-women-img/w5.jpg" alt=""> </div>
              <div class="a-card-info">
               <p class="a-text-title">Product title </p>
               <p class="a-text-body">Product description andd etails</p>
              </div>
               <div class="a-card-footer">
                <span class="a-text-title">₹ 1499.49</span>
               </div>
             </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="a-card" onclick="window.location.href='product-page.html'">
              <div class="a-card-img"> <img src="images/index-men-women-img/w6.jpg" alt=""> </div>
              <div class="a-card-info">
               <p class="a-text-title">Product title </p>
               <p class="a-text-body">Product description andd etails</p>
              </div>
               <div class="a-card-footer">
                <span class="a-text-title">₹ 1499.49</span>
               </div>
             </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="a-card" onclick="window.location.href='product-page.html'">
              <div class="a-card-img"> <img src="images/index-men-women-img/w7.jpg" alt=""> </div>
              <div class="a-card-info">
               <p class="a-text-title">Product title </p>
               <p class="a-text-body">Product description andd etails</p>
              </div>
               <div class="a-card-footer">
                <span class="a-text-title">₹ 1499.49</span>
               </div>
             </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="a-card" onclick="window.location.href='product-page.html'">
              <div class="a-card-img"> <img src="images/index-men-women-img/w8.jpg" alt=""> </div>
              <div class="a-card-info">
               <p class="a-text-title">Product title </p>
               <p class="a-text-body">Product description andd etails</p>
              </div>
               <div class="a-card-footer">
                <span class="a-text-title">₹ 1499.49</span>
               </div>
             </div>
          </div>
        </div>
       </div>

       <div class="container">
        <div class="row mt-4">
          <div class="col text-center"><a  style="font-weight:bold; text-decoration:underline; color: #1c2331;" href="men-page.html">See More</a></div>
        </div>
      </div>
      <!--popular head -->
    <div class="container-fluid">
      <div class="row mt-5 text-center" style=" background: rgb(36,0,0);
      background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(252,252,252,1) 0%, rgba(236,255,79,1) 46%, rgba(255,255,255,1) 100%);  font-family: sans-serif; font-size: 28px; font-weight: 700;">
        <spanm> POPULAR  </span> 
      </div>
    </div><br>
    <!-- popular head -->
     
    <!-- popular item start-->
    <div class="container">
      <div  class="row">
        <div class="col-lg-3 col-md-3 col-sm-6">
          <div class="a-card" onclick="window.location.href='product-page.html'">
            <div class="a-card-img"> <img src="images/product card/img-1.png" alt=""> </div>
            <div class="a-card-info">
             <p class="a-text-title">Product title </p>
             <p class="a-text-body">Product description andd etails</p>
            </div>
             <div class="a-card-footer">
              <span class="a-text-title">₹ 1499.49</span>
             </div>
           </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
          <div class="a-card" onclick="window.location.href='product-page.html'">
            <div class="a-card-img"><img src="images/product card/img-2.png" alt=""></div>
            <div class="a-card-info">
             <p class="a-text-title">Product title </p>
             <p class="a-text-body">Product description and details</p>
            </div>
             <div class="a-card-footer">
              <span class="a-text-title">₹ 459.49</span>
             </div>
           </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
          <div class="a-card" onclick="window.location.href='product-page.html'">
            <div class="a-card-img"><img src="images/product card/img-3.png" alt=""></div>
            <div class="a-card-info">
             <p class="a-text-title">Product title </p>
             <p class="a-text-body">Product description and details</p>
            </div>
             <div class="a-card-footer">
              <span class="a-text-title">₹ 699.89</span>
             </div>
           </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
          <div class="a-card" onclick="window.location.href='product-page.html'">
            <div class="a-card-img"><img src="images/product card/img-4.png" alt=""></div>
            <div class="a-card-info">
             <p class="a-text-title">Product title </p>
             <p class="a-text-body">Product description and details</p>
            </div>
             <div class="a-card-footer">
              <span class="a-text-title">₹ 2999.49</span>
             </div>
           </div>
        </div>
      </div><br><br>

      <div class="row">
        <div class="col-lg-3 col-md-3">
          <div class="a-card" onclick="window.location.href='product-page.html'">
            <div class="a-card-img"><img src="images/product card/img-5.png" alt=""></div>
            <div class="a-card-info">
             <p class="a-text-title">Product title </p>
             <p class="a-text-body">Product description and details</p>
            </div>
             <div class="a-card-footer">
              <span class="a-text-title">₹ 299.49</span>
             </div>
           </div>
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="a-card" onclick="window.location.href='product-page.html'">
            <div class="a-card-img"><img src="images/product card/img-6.png" alt=""></div>
            <div class="a-card-info">
             <p class="a-text-title">Product title </p>
             <p class="a-text-body">Product description and details</p>
            </div>
             <div class="a-card-footer">
              <span class="a-text-title">₹ 999.09</span>
             </div>
           </div>
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="a-card" onclick="window.location.href='product-page.html'">
            <div class="a-card-img"><img src="images/product card/img-7.png" alt=""></div>
            <div class="a-card-info">
             <p class="a-text-title">Product title </p>
             <p class="a-text-body">Product description and details</p>
            </div>
             <div class="a-card-footer">
              <span class="a-text-title">₹ 799.00</span>
             </div>
           </div>
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="a-card" onclick="window.location.href='product-page.html'">
            <div class="a-card-img"><img src="images/product card/img-8.png" alt=""></div>
            <div class="a-card-info">
             <p class="a-text-title">Product title </p>
             <p class="a-text-body">Product description and details</p>
            </div>
             <div class="a-card-footer">
              <span class="a-text-title">₹ 2499.49</span>
             </div>
           </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row mt-4">
        <div class="col text-center"><a  style="font-weight:bold; text-decoration:underline; color: #1c2331;" href="men-page.html">See More</a></div>
      </div>
    </div>
    <!-- popular item end -->
    <!-- head -->
    <div class="container mt-4">
      <div class="row text-center"  style="background: rgb(36,0,0);
      background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(252,252,252,1) 0%, rgba(236,255,79,1) 46%, rgba(255,255,255,1) 100%); font-family: sans-serif; font-size: 28px; font-weight: 700;" >
        <span>Too Hot To Be Missed</span> 
      </div>
    </div><br>
    <!-- head end -->
    <!-- bootom poster start -->
    <div class="container-fluid bottom-poster">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12"> <img src="gif/HC--1x1-Trendy-Jeans-1710481449.gif" alt=""> </div>
        <div class="col-lg-6 col-md-6 col-sm-12"> <img src="gif/gif2.gif" alt=""></div>
      </div>
      <div class="row mt-2">
        <div class="col-lg-6 col-md-6 col-sm-12"> <img src="images/bottom-posters/MidSize-DESKTOP-BF-women--1--1710481445.jpg" alt=""> </div>
        <div class="col-lg-6 col-md-6 col-sm-12"> <img src="images/bottom-posters/MidSize-DESKTOP-b1g1-common--1--1710481447.jpg" alt=""> </div>
      </div>
    </div>
    <!-- bottom poster end -->

    <!-- subscribe start -->
    <div class="bg-grey">
      <div class="container">
        <div class="row justify justify-content-center">
          <div class="col-12 col-lg-9 col-xl-8">
            <form class="">
              
              <div class="card">
                <div class="row justify-content-center">
                <div class="col-md-9 col-11">
                <div class="row mt-0">
                  <div class="col-md-12 ">
                    <h4 class="text-center heading">Get 15% Off</h4>
                    <p class="text-center sub-heading">subscribe to our ASHION  & receive a coupon</p>
                  </div>
                </div>
    
                <div class="form-group row mb-3">
                  <div class="col-md-12 mb-0">
                    <input id="e-mail" type="text" placeholder="ENTER YOUR EMAIL" name="email" class="form-control input-box rm-border text-center">
                  </div>
                </div>
    
                <div class="form-group row  justify-content-center mb-0">       
                          <div class="col-md-12 px-3">
                              <input type="submit" value="GET IT NOW!" class="a-btn a-btn-block a-btn-black rm-border">
                          </div>
                      </div>
    
                      <div class="form-group row justify-content-center mb-0">       
                          <div class="col-md-12 px-3 mt-4">
                              <a style="text-decoration: none;" href=""><p class="thanks">No Thanks</p></a>
                          </div>
                      </div>
                   </div>
                </div>
              </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>
    <!-- subscribe end -->
<!-- bottom-text start -->
<div class="container-fluid" >
  <div  class="row text-center " style=" color: black; background: rgb(36,0,0);
      background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(252,252,252,1) 0%, rgba(236,255,79,1) 46%, rgba(255,255,255,1) 100%);  font-family: sans-serif; font-size: 28px; font-weight: 700;">
    <h2  style="font-family:sans-serif">THE ASHION INDIA'S NO.1 BRAND </h2>
  </div>
  <div class="row text-center mt-2" style="color: black;" >
    <h2> <SPAN style="font-weight: bold;">10 MILLION+</SPAN> CUSTOMERS IN ALL OVER NATION </h2>
  </div>
</div>
<!-- bottom-text start -->

{% include "footer.html" %}